body {
  background-color: #ffffff;
  scroll-behavior: smooth;
  font-weight: 500;
  font-family: "Kufam", cursive; }
  body li {
    direction: rtl;
    text-decoration: none;
    cursor: pointer;
    list-style: square;
    margin: 10px 15px; }
  body a:hover {
    text-decoration: none; }

.countries {
  background-image: linear-gradient(rgba(0, 0, 0, 0.541), rgba(0, 0, 0, 0.541)), url("../images/earth.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: white; }
  @media (max-width: 768px) {
    .countries h2 {
      font-size: 18px; } }

.list-country {
  direction: rtl;
  height: 214px;
  overflow-x: auto;
  overflow-y: auto;
  color: white; }
  .list-country a {
    background-color: #ff9c01;
    padding: 7px;
    margin: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px; }
  .list-country a:hover {
    cursor: pointer; }

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #2479b1; }
  .nav img {
    width: 25%; }
  .nav h2 {
    font-size: 39px;
    direction: rtl;
    text-align: right;
    color: #050647; }
    .nav h2 span {
      color: #ff9c01; }
  @media only screen and (max-width: 992px) {
    .nav h2 {
      font-size: 26px; }
    .nav img {
      width: inherit; } }

.description {
  background-color: aliceblue;
  width: 50%;
  padding: 27px;
  direction: rtl;
  color: #0079e0;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px; }

.statistics {
  padding: 50px;
  width: 100%;
  margin: auto;
  overflow: hidden; }
  .statistics .explanation {
    margin: 10px;
    display: grid;
    grid-template-rows: 50% 25% 25%;
    justify-content: stretch;
    align-items: stretch;
    padding: 15px;
    background-color: #7a7a7a38;
    color: black;
    height: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px; }
    .statistics .explanation p {
      width: 100%; }
    .statistics .explanation img {
      width: auto;
      justify-self: center; }
    .statistics .explanation span {
      width: 100%;
      text-align: center;
      padding: 8px;
      border-radius: 10px;
      color: white;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      background-color: #050647; }

.map-container {
  padding: 0px;
  margin-top: 10px; }
  .map-container img {
    width: 100%;
    position: relative; }
  .map-container .point {
    cursor: pointer;
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #050647;
    border-radius: 50%;
    transition: all 0.3s ease;
    will-change: transform, box-shadow;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 rgba(5, 6, 71, 0.4);
    animation: pulse 3s infinite;
    z-index: 5; }
  .map-container .tippy {
    width: 150px;
    padding: 10px;
    color: white;
    background-color: #050647;
    position: absolute;
    left: -93px;
    top: 22px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    z-index: 1000000; }
  .map-container .tippy::before {
    content: "";
    position: absolute;
    top: -33%;
    left: 50%;
    border-style: solid;
    border-width: 15px;
    border-color: rgba(0, 0, 0, 0) rgba(0, 128, 0, 0) #050647 rgba(0, 0, 255, 0);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%); }
  .map-container .Angola {
    top: 71%;
    left: 52.5%; }
  .map-container .Green-head {
    top: 54%;
    left: 42%; }
  .map-container .Ginia {
    top: 59%;
    left: 44%; }
  .map-container .Muzambik {
    top: 72%;
    left: 58%; }
  .map-container .Kongho {
    top: 65%;
    left: 52.2%; }
  .map-container .Big-kongho {
    top: 66%;
    left: 54%; }
  .map-container .Banin {
    top: 59%;
    left: 49%; }
  .map-container .Kameron {
    top: 62%;
    left: 51.6%; }
  .map-container .Togo {
    top: 61%;
    left: 48.4%; }
  .map-container .Kotivoar {
    top: 61%;
    left: 46.5%; }
  .map-container .Haity {
    top: 55%;
    left: 28%; }
  .map-container .France {
    top: 40%;
    left: 48.6%; }
  .map-container .America {
    top: 43%;
    left: 22%; }
  .map-container .Brazil {
    top: 69%;
    left: 34%; }
  .map-container .Venezuela {
    top: 61%;
    left: 30%; }
  .map-container .Nicaragua {
    top: 59%;
    left: 25.2%; }
  .map-container .Colombia {
    top: 63%;
    left: 28%; }
  .map-container .Guatemala {
    top: 56%;
    left: 23%; }
  .map-container .Paraguay {
    top: 76%;
    left: 32%; }
  .map-container .Mexico {
    top: 52%;
    left: 20%; }
  .map-container .Peru {
    top: 71%;
    left: 28%; }
  .map-container .Honduras {
    top: 57%;
    left: 25%; }
  .map-container .Dominicans {
    top: 56%;
    left: 30%; }
  .map-container .Argentina {
    top: 82%;
    left: 31%; }
  .map-container .Equatorial-Guinea {
    top: 64%;
    left: 51%; }
  .map-container .Salvador {
    top: 57.4%;
    left: 24%; }
  .map-container .Costarica {
    top: 61%;
    left: 26.5%; }
  .map-container .Ecuador {
    top: 66%;
    left: 26.6%; }
  .map-container .Bolivia {
    top: 73%;
    left: 30.5%; }
  .map-container .Urgawi {
    top: 82%;
    left: 34%; }

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5); }
  70% {
    box-shadow: 0 0 0 25px rgba(255, 255, 255, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); } }
/* width */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #ff9c01; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #050647; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #050647; }

.list-country::-webkit-scrollbar {
  display: none; }

footer {
  background-color: #050647;
  padding: 20px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  color: white; }
  footer .link {
    color: white;
    font-size: 24px; }
  footer .footer-img {
    width: 30%; }
  footer .copy {
    background-color: #ff9c01;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center; }
    footer .copy p {
      margin: 0; }

@media (min-width: 992px) {
  .map-container .point {
    width: 10px;
    height: 10px; }

  .tippy {
    width: 200px; } }

/*# sourceMappingURL=style.css.map */
