body {
  background-color: #ffffff;
  scroll-behavior: smooth;
  font-weight: 500;
  font-family: "Kufam", cursive; }
  body li {
    direction: rtl;
    text-decoration: none;
    cursor: pointer;
    list-style: square;
    margin: 10px 15px; }
  body a:hover {
    text-decoration: none; }

.countries {
  background-image: linear-gradient(rgba(0, 0, 0, 0.541), rgba(0, 0, 0, 0.541)), url("../images/earth.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: white; }
  @media (max-width: 768px) {
    .countries h2 {
      font-size: 18px; } }

.list-country {
  direction: rtl;
  height: 214px;
  overflow-x: auto;
  overflow-y: auto;
  color: white; }
  .list-country a {
    background-color: #2a9aa5;
    padding: 7px;
    border-radius: 24px;
    margin: 10px; }
  .list-country a:hover {
    cursor: pointer; }

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #2479b1; }
  .nav img {
    width: 25%; }
  .nav h2 {
    font-size: 39px;
    direction: rtl;
    text-align: right; }
  @media only screen and (max-width: 678px) {
    .nav h2 {
      font-size: 25px; }
    .nav img {
      width: inherit; } }

.description {
  background-color: aliceblue;
  width: 50%;
  padding: 27px;
  direction: rtl;
  color: #0079e0;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px; }

.statistics {
  padding: 50px;
  width: 100%;
  overflow: hidden; }
  .statistics .explanation {
    margin: 10px;
    padding: 15px;
    background-color: #7a7a7a38;
    color: black;
    height: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px; }
    .statistics .explanation img {
      width: 30%; }
    .statistics .explanation span {
      width: 100%;
      text-align: center;
      padding: 8px;
      border-radius: 10px;
      color: white;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      background-color: #12acbb; }

.map-container {
  padding: 5px; }
  .map-container img {
    width: 100%; }
  .map-container .point {
    cursor: pointer;
    position: absolute;
    z-index: 100;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    transition: all 0.3s ease;
    will-change: transform, box-shadow;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.4);
    animation: pulse 3s infinite; }
  .map-container .Angola {
    top: 56%;
    left: 50%; }
  .map-container .Green-head {
    top: 48%;
    left: 38%; }
  .map-container .Ginia {
    top: 51%;
    left: 41%; }
  .map-container .Muzambik {
    top: 61%;
    left: 55%; }
  .map-container .Kongho {
    top: 53%;
    left: 50%; }
  .map-container .Big-kongho {
    top: 55%;
    left: 53%; }
  .map-container .Banin {
    top: 51%;
    left: 45%; }
  .map-container .Kameron {
    top: 52%;
    left: 48%; }
  .map-container .Togo {
    top: 51%;
    left: 43.4%; }
  .map-container .Kotivoar {
    top: 52%;
    left: 42.5%; }
  .map-container .Haity {
    top: 48%;
    left: 22%; }
  .map-container .France {
    top: 38%;
    left: 48%; }
  .map-container .America {
    top: 41%;
    left: 15%; }
  .map-container .Brazil {
    top: 57%;
    left: 28%; }
  .map-container .Venezuela {
    top: 52%;
    left: 24%; }
  .map-container .Nicaragua {
    top: 49%;
    left: 18.2%; }
  .map-container .Colombia {
    top: 52%;
    left: 21%; }
  .map-container .Guatemala {
    top: 48%;
    left: 16%; }
  .map-container .Paraguay {
    top: 61%;
    left: 27%; }
  .map-container .Mexico {
    top: 46%;
    left: 13%; }
  .map-container .Peru {
    top: 57%;
    left: 21%; }
  .map-container .Honduras {
    top: 50%;
    left: 18%; }
  .map-container .Dominicans {
    top: 48%;
    left: 24%; }
  .map-container .Argentina {
    top: 63%;
    left: 25%; }
  .map-container .Equatorial-Guinea {
    top: 54%;
    left: 48%; }
  .map-container .Salvador {
    top: 49.4%;
    left: 17%; }
  .map-container .Costarica {
    top: 51%;
    left: 18.5%; }
  .map-container .Ecuador {
    top: 54%;
    left: 19.6%; }
  .map-container .Bolivia {
    top: 59%;
    left: 24%; }
  .map-container .Urgawi {
    top: 62%;
    left: 30%; }

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5); }
  70% {
    box-shadow: 0 0 0 25px rgba(255, 255, 255, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); } }
.tippy {
  background-color: #0eadc2;
  width: 310px;
  padding: 10px;
  position: absolute;
  color: white;
  border-radius: 10px;
  z-index: 100000000000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px; }

/*# sourceMappingURL=style.css.map */
