$primary: #ffffff;
$pirmary2: #050647;
$second: #ff9c01;
body {
  background-color: #ffffff;
  scroll-behavior: smooth;
  font-weight: 500;
  font-family: "Kufam", cursive;
  li {
    direction: rtl;
    text-decoration: none;
    cursor: pointer;
    list-style: square;
    margin: 10px 15px;
  }
  a:hover {
    text-decoration: none;
  }
}
.countries {
  background-image: linear-gradient(rgba(0, 0, 0, 0.541), hsla(0, 0%, 0%, 0.541)), url("../images/earth.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: white;
  @media (max-width: 768px) {
    h2 {
      font-size: 18px;
    }
  }
}
.list-country {
  direction: rtl;
  height: 214px;
  overflow-x: auto;
  overflow-y: auto;
  color: white;
  a {
    background-color: $second;
    padding: 7px;
    margin: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  a:hover {
    cursor: pointer;
  }
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: rgb(36, 121, 177);
  img {
    width: 25%;
  }
  h2 {
    font-size: 39px;
    direction: rtl;
    text-align: right;
    color: $pirmary2;
    span {
      color: $second;
    }
  }
  @media only screen and (max-width: 992px) {
    h2 {
      font-size: 26px;
    }
    img {
      width: inherit;
    }
  }
}
.description {
  background-color: aliceblue;
  width: 50%;
  padding: 27px;
  direction: rtl;
  color: #0079e0;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}
.statistics {
  padding: 50px;
  width: 100%;
  margin: auto;
  overflow: hidden;
  .explanation {
    margin: 10px;
    display: grid;
    grid-template-rows: 50% 25% 25%;
    justify-content: stretch;
    align-items: stretch;
    padding: 15px;
    background-color: #7a7a7a38;
    color: rgb(0, 0, 0);
    height: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    p {
      width: 100%;
    }
    img {
      width: auto;
      justify-self: center;
    }
    span {
      width: 100%;
      text-align: center;
      padding: 8px;
      border-radius: 10px;
      color: rgb(255, 255, 255);
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      background-color: $pirmary2;
    }
  }
}

.map-container {
  padding: 0px;
  margin-top: 10px;
  img {
    width: 100%;
    position: relative;
  }
  .point {
    cursor: pointer;
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: $pirmary2;
    border-radius: 50%;
    transition: all 0.3s ease;
    will-change: transform, box-shadow;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 rgba($pirmary2, 0.4);
    animation: pulse 3s infinite;
    z-index: 5;

  }
  .tippy {
    width: 200px;
    padding: 10px;
    color: white;
    background-color: $pirmary2;
    position: absolute;
    left: -93px;
    top: 22px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    z-index: 1000000;
  }
  .tippy::before {
    content: "";
    position: absolute;
    top: -33%;
    left: 50%;
    border-style: solid;
    border-width: 15px;
    border-color: rgba(0, 0, 0, 0) rgba(0, 128, 0, 0) $pirmary2 rgba(0, 0, 255, 0);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  .Angola {
    top: 71%;
    left: 52.5%;
  }
  .Green-head {
    top: 54%;
    left: 42%;
  }
  .Ginia {
    top: 59%;
    left: 44%;
  }
  .Muzambik {
    top: 72%;
    left: 58%;
  }
  .Kongho {
    top: 65%;
    left: 52.2%;
  }
  .Big-kongho {
    top: 66%;
    left: 54%;
  }
  .Banin {
    top: 59%;
    left: 49%;
  }
  .Kameron {
    top: 62%;
    left: 51.6%;
  }
  .Togo {
    top: 61%;
    left: 48.4%;
  }
  .Kotivoar {
    top: 61%;
    left: 46.5%;
  }
  .Haity {
    top: 55%;
    left: 28%;
  }
  .France {
    top: 40%;
    left: 48.6%;
  }
  .America {
    top: 43%;
    left: 22%;
  }
  .Brazil {
    top: 69%;
    left: 34%;
  }
  .Venezuela {
    top: 61%;
    left: 30%;
  }
  .Nicaragua {
    top: 59%;
    left: 25.2%;
  }
  .Colombia {
    top: 63%;
    left: 28%;
  }
  .Guatemala {
    top: 56%;
    left: 23%;
  }
  .Paraguay {
    top: 76%;
    left: 32%;
  }
  .Mexico {
    top: 52%;
    left: 20%;
  }
  .Peru {
    top: 71%;
    left: 28%;
  }
  .Honduras {
    top: 57%;
    left: 25%;
  }
  .Dominicans {
    top: 56%;
    left: 30%;
  }
  .Argentina {
    top: 82%;
    left: 31%;
  }
  .Equatorial-Guinea {
    top: 64%;
    left: 51%;
  }
  .Salvador {
    top: 57.4%;
    left: 24%;
  }
  .Costarica {
    top: 61%;
    left: 26.5%;
  }
  .Ecuador {
    top: 66%;
    left: 26.6%;
  }
  .Bolivia {
    top: 73%;
    left: 30.5%;
  }
  .Urgawi {
    top: 82%;
    left: 34%;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba($primary, 0.5);
  }
  70% {
    box-shadow: 0 0 0 25px rgba($primary, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba($primary, 0);
  }
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $second;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $pirmary2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $pirmary2;
}
.list-country::-webkit-scrollbar {
  display: none;
}
footer {
  background-color: $pirmary2;
  padding: 20px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  color: white;
  .link {
    color: white;
    font-size: 24px;
  }
  .footer-img {
    width: 30%;
  }
  .copy {
    background-color: $second;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      margin: 0;
    }
  }
}
@media (min-width: 992px) {
  .map-container .point {
    width: 10px ;
    height: 10px ;
  }
}